/* Blue variables */
$theme-color: #265DA8;
$theme-color-secondary: #1A4E95;
$text-color: #111b3b;
$text-color-secondary: #545E6C;
$text-grey: #78665F;
$divider: #e8e8e8;
$lighter-grey: #C4C6C5;
$darker-grey: #A6806A;
$smoky-white: #F0F6F6;
$heart: #fb866a;
